/** Selectores de etiqueta para dar formato a los elementos que componen una tabla*/
img {
    margin-left: 20px;
    border: 2px ridge rgb(12, 12, 65);
}

table {
    margin-left: 20px;
    border-width: 3px;
    border-style: dashed;
    border-color:rgb(64, 7, 117);
    border-collapse: separate;
    border-spacing: 15px 10px; /** Horizontal - Vertical */
}

td, th {
    border: 1px dotted rgb(60, 10, 100);
    text-align: center;
}

/* Selector de clase solo para los elementos de tipo img */
img.desplazada {
    position: relative;
    top: 20px;
} 

img.desplazadaAbsoluta {
    position: absolute;
    left: 300px;
}

/* Selector de ID para el contenedor de una imagen que ser치 posicionada de manera absoluta */
#contenedorDesplazada {
    border: inset rgb(51, 47, 47) 2px;
    padding: 10px 10px;
    position: relative;
}

/* Selectores de clase para dar formato a elementos y contenido encerrados por las etiquetas Div y Span */
.formatoDiv {
    border: 1px outset rgb(56, 22, 56);
    background-color: rgb(241, 235, 235);
}

span {
    color:rgb(78, 10, 10);
    font-family: Cochin;
    font-weight: 200;
}

/* Selectores de etiqueta para la explicaci칩n de los funcionamientos de las mismas */
header {
    border: outset 3px rgb(7, 68, 7);
    margin-left: 20px;
}

nav { 
    background-color: rgb(161, 201, 201);
    margin-left: 20px;
}

section {
    background-color: rgb(194, 186, 186); 
    margin-left: 20px; 
}

figcaption {
    margin-left: 20px;
}

/* Selector para la explicaci칩n del posicionamiento flotante */ 
.flotante {
    float: left;
    margin-bottom: 20px;
    margin-right: 10px;
}

/* Selectores para la explicaci칩n de la propiedad clear */
#limpio {
    clear:left;
}

#ejemploClear {
    border: dotted rgb(165, 12, 12) 1px;
    clear:both;
}

.izquierda {
    float:left;
}

.derecha {
    float:right;
}

/* Selector de etiqueta para el ejemplo de la etiqueta details */
details, audio, video {
    margin-left: 20px;
}

/* Selector de etiqueta para la margen del formulario */
form {
    margin-left: 20px;
}



