/* Selector de atributos para las etiquetas a de Cuerpo del documento 1*/
a[href] {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(41, 109, 86);
}

/* Selector de clase para aplicar un formato de ancho y alto a un parrafo*/
.anchoYalto {
        width: 800px;
}