/* regla para los titulos*/
h1 {
    font-size: 260%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    color: darkred;
}

/* Selector de tipo o etiqueta**/
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

h2 {
    font-size: 200%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    color: crimson;
}

/** Selector de id */
#parrafoNegrita {                               
    font-weight: 800;
}


/* Selector descendente aplicado a Introducción a la etiqueta Script */
p b {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color :rgb(22, 124, 131);
}

/* Selector de clase aplicado a Introducción a la etiqueta Script */
.pruebaClase {
    padding: 0.5em;
    border: 1px solid #98be10;
    background: #f6feda;
}

.pruebaClase1 {
    font-size: 23px;
}

/** p.pruebaClase1 solo le aplicará el formato al parrafo cuyo atributo class tenga el valor de pruebaClase1, 
sin modificar los demas elementos que tengan ese mismo atributo/valor.

<b class="clase1 clase2 clase3></b>
.clase1
.clase2
.clse3"*/

