/* regla para los titulos*/
h1 {
    font-size: 260%;
    font-family: Georgia;
    font-weight: normal;
    color: darkred;
}

/* Selector de tipo o etiqueta**/
p, ul, ol, dl {
    font-family: Verdana;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}


/* Pseudo elemento para aplicar la letra capital*/
p::first-letter {
    font-size: 2.5em;
    font-weight: bold;
    line-height: .9em;
}

h2 {
    font-size: 200%;
    font-family: Calibri;
    font-weight: normal;
    color: crimson;
}

h3 {
    margin-left: 20px;
    font-family: Calibri;
}

/** Selector de id */
#parrafoNegrita {                               
    font-weight: 800;
}


/* Selector descendente aplicado a Introducción a la etiqueta Script */
p b {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color :rgb(22, 124, 131);
}

/* Selector de clase aplicado a Introducción a la etiqueta Script */
.pruebaClase {
    padding: 0.5em;
    border: 1px solid #98be10;
    background: #f6feda;
}

.pruebaClase1 {
    font-size: 23px;
}

/** Selector de hijos aplicado a Introducción a la etiqueta Script */
div > p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/** p.pruebaClase1 solo le aplicará el formato al parrafo cuyo atributo class tenga el valor de pruebaClase1, 
sin modificar los demas elementos que tengan ese mismo atributo/valor.

<b class="clase1 clase2 clase3></b>
.clase1
.clase2
.clse3"*/


