body {
    margin-left: 20px;
    margin-right: 20px;

    font-family: Cambria; 
}

/* Selector de atributos para las etiquetas a de Cuerpo del documento 1*/
a[href] {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(41, 109, 86);
}

/* Selector de clase para aplicar un formato de ancho y alto a un parrafo*/
.anchoYalto {
    text-align: justify;    
    width: 800px;  
    height: 120px;                 
}

/*Selector de clase para aplicar formato de margenes (aplica el shorthand con margin ## ## ## ##) */
.margenesYrelleno {
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-left: 40px;
    text-align: justify;

}

.margenesYrelleno1 {
    /*Para padding también aplica el shorthand. */

    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 4em;
}

    


/* Selector para el subtítulo de margenes y relleno */
#tituloMargenesYrelleno {
    margin-top: 60px;
}

footer {
    margin-left: 20px;
}

/* Selector de clase para la etiqueta pre del Cuerpo del documento 2 */
.formato {
    font-family: Tahoma;
}

/* Selector de ID para la etiqueta Dialog del Cuerpo del documento 2 */
#dialogo {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

/* Selector de clase para la explicación de las propiedades para el ancho y el color de los bordes*/
.bordesYColor {
    border-top-width: 1em;
    border-right-width: 1em;
    border-bottom-width: thin;
    border-left-width: thick;

    border-top-color: #CC0000;
    border-right-color: blue;
    border-bottom-color: rgb(165, 218, 165);
    border-left-color: rgb(71, 66, 66);

    border-top-style: dotted; /* ......... */
    border-right-style: dashed; /* - - - - - - - -*/
    border-bottom-style: solid;
    border-left-style: double; 

    text-align: justify;
}

/* Selector de Id para la propiedad shorthand del ancho de los bordes*/
#bordesYColor1 {
    border-width: 1px 2px thick thin;
    border-color: blue #470505 rgb(55, 187, 72) blanchedalmond;
    border-style: groove ridge inset outset;

    text-align: justify;
}

/* Selector de clase para las propiedades shorthand de los bordes*/
.bordesShort {
    border-top: double rgb(71, 55, 168) thick;
    border-right: solid rgb(160, 200, 150) thin;
    border-bottom: dashed blue 1em;
    border-left: dotted #CC0000 1em;

}

#bordesShort1 {
    border: groove rgb(120, 45, 10) 2px;
}

/* Selector de clase para darle solor al fondo del parrafo de explicación de la propiedad */
.colorFondo {
    background-color: rgb(132, 201, 178);
}

/* Selector de ID para la imagen de fondo de la explicación de la propiedad */
#imagenFondo {
    background-image: url(../img/imagenCss3.png);
}

/* Selector de ID para la propiedad repeat de las imagenes */
#repetirImagen {
    background: url(../img/repeat.jpeg) no-repeat;
    color: rgb(228, 11, 55);
}

/* Selectores de clase para la explcación del background position. */
.posicion1 {
    background-image: url(../img/posicion1.png);
    background-repeat: no-repeat;
    background-position: center center;
    /*background-attachment: fixed;*/
}

.posicion2{
    background-image: url(../img/posicion2.png);
    background-repeat: no-repeat;
    background-position: 100%;
    color: rgb(5, 5, 85);

    /* shorthand: background: #CC0000 URL repeat-x center 0% */
}

