body {
    margin-left: 20px;
    margin-right: 20px;
}

/* Selector de atributos para las etiquetas a de Cuerpo del documento 1*/
a[href] {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(41, 109, 86);
}

/* Selector de clase para aplicar un formato de ancho y alto a un parrafo*/
.anchoYalto {
    text-align: justify;    
    width: 800px;
}

footer {
    margin-left: 20px;
}

.formato {
    font-family: Tahoma;
}

/* Selector de ID para la etiqueta Dialog del Cuerpo del documento 2 */
#dialogo {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}